#
# editors
#
.vscode

#
# Node.js files
#
node_modules

#
# ReasonML/BuckleScript
#
.merlin
lib/bs
lib/js
.graphql_ppx_cache

#
# generated ReasonML code
#
public/javascripts/main.js

#
# temporary
#
tmp
