[package]
name = "tanuki"
version = "1.0.0"
authors = ["Nathan Fiedler <nathanfiedler@fastmail.fm>"]
edition = "2021"
description = "Personal digital asset management system."
repository = "https://github.com/nlfiedler/tanuki"
readme = "README.md"
keywords = ["assets", "photos", "videos"]
license = "UNLICENSED"
default-run = "tanuki"

[dependencies]
actix-cors = "0.6.0"
actix-files = "0.6.0"
actix-multipart = "0.6.0"
actix-web = "4.0.1"
anyhow = "1.0.55"
base64 = "0.21.0"
chrono = { version = "0.4", features = ["serde"] }
dotenv = "0.15.0"
env_logger = "0.10.0"
futures = "0.3.4"
image = "0.24.0"
juniper = "0.15"
kamadak-exif = "0.5.1"
lazy_static = "1.3.0"
log = "0.4.8"
lru = "0.11.0"
mime = "0.3.16"
mime_guess = "2.0.3"
mokuroku = { version = "3.3.0", features = ["anyhow", "serde_cbor"] }
mp4 = "0.13.0"
riff = "2.0.0"
rocksdb = "0.21.0"
rusty_ulid = "2.0.0"
serde = { version = "1.0", features = ["derive"] }
serde_cbor = "0.11.1"
serde_json = "1.0"
sha2 = "0.10.1"

[dev-dependencies]
mockall = "0.11.0"
tempfile = "3.1.0"

[profile.release]
strip = "debuginfo"

[workspace]
exclude = [
    "healthcheck"
]
