[package]
name = "tanuki"
version = "1.0.0"
authors = ["Nathan Fiedler <nathanfiedler@fastmail.fm>"]
edition = "2018"
description = "Digital asset management application."
repository = "https://github.com/nlfiedler/tanuki"
readme = "README.md"
keywords = ["assets", "photos", "videos"]
license = "UNLICENSED"
default-run = "tanuki"

[dependencies]
actix-cors = "0.5"
actix-files = "0.5"
actix-multipart = "0.3"
actix-rt = "2.0"
actix-web = "3.1"
base64 = "0.13"
chrono = { version = "0.4", features = ["serde"] }
dotenv = "0.15.0"
env_logger = "0.8.1"
failure = "0.1.6"
futures = "0.3.4"
image = "0.23.4"
juniper = "0.14.2"
kamadak-exif = "0.5.1"
lazy_static = "1.3.0"
log = "0.4.8"
lru = "0.6.0"
mime = "0.3.16"
mime_guess = "2.0.3"
mokuroku = { git = "https://github.com/nlfiedler/mokuroku.git" }
mp4 = "0.8"
riff = "1.0.0"
rocksdb = { git = "https://github.com/rust-rocksdb/rust-rocksdb.git" }
rusty_ulid = "0.10.0"
serde = { version = "1.0", features = ["derive"] }
serde_cbor = "0.11.1"
serde_json = "1.0"
sha2 = "0.9.0"

[dev-dependencies]
mockall = "0.9"
tempfile = "3.1.0"
