[package]
name = "tanuki"
version = "1.0.0"
authors = ["Nathan Fiedler <nathanfiedler@fastmail.fm>"]
edition = "2018"
description = "Digital asset management application."
repository = "https://github.com/nlfiedler/tanuki"
readme = "README.md"
keywords = ["assets", "photos", "videos"]
license = "BSD-2-Clause"

[dependencies]
actix-multipart = "0.2.0"
actix-rt = "1.1.0"
actix-web = "2.0.0"
base64 = "0.12.0"
chrono = { version = "0.4", features = ["serde"] }
failure = "0.1.6"
futures = "0.3.4"
image = "0.23.4"
juniper = "0.14.2"
kamadak-exif = "0.5.1"
lazy_static = "1.3.0"
mime = "0.3.16"
# mime_guess = "2.0.3"
mokuroku = "2.2.0"
rocksdb = "0.14.0"
rusty_ulid = "0.9.3"
serde = { version = "1.0", features = ["derive"] }
serde_cbor = "0.11.1"
sha2 = "0.8.0"
tempfile = "3.1.0"

[dev-dependencies]
mockall = "0.7.0"
serde_json = "1.0"
