<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/fontawesome-all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bulma.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div id="elm-main"></div>
    <script src="/javascripts/Main.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
