<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/fontawesome-all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bulma.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="container">
      <nav id="navbar" class="navbar is-transparent" role="navigation">
        <div class="navbar-brand">
          <img src="/images/tanuki.png" width="520" height="100">
          <div class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <a class="navbar-item" href="/">
              <span class="icon"><i class="fas fa-lg fa-home"></i></span>
            </a>
            <a class="navbar-item" href="/upload">
              <span class="icon"><i class="fas fa-lg fa-upload"></i></span>
            </a>
          </div>
        </div>
      </nav>

      <div>
        <form action="/import" method="post" enctype="multipart/form-data">
          <div class="control">
            <div class="file has-name is-boxed">
              <label class="file-label">
                <input class="file-input" type="file" name="asset" id="fileInput" required>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name" id="filename"></span>
              </label>
            </div>
          </div>
          <p id="dragHelp" class="help" style="display: none;">
            You can drag and drop a file on the above control
          </p>
          <div class="control">
            <input class="button is-primary" type="submit" value="Upload" id="upload" disabled/>
          </div>
        </form>
      </div>

    </div>
    <script>
      if ('draggable' in document.createElement('span')) {
        var helpElem = document.getElementById('dragHelp');
        helpElem.style.display = 'block';
      }
      var fileElem = document.getElementById('fileInput');
      fileElem.onchange = function () {
        if (fileElem.files.length > 0) {
          document.getElementById('filename').innerHTML = fileElem.files[0].name;
          document.getElementById('upload').disabled = false;
        } else {
          document.getElementById('filename').innerHTML = '';
          document.getElementById('upload').disabled = true;
        }
      };
    </script>
  </body>
</html>
